* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: var(--text-primary);
}

:root {
    --text-primary: #141414;
}

img {
    display: block;
    width: 150px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

ul {
    list-style: none;    
}