* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: var(--text-primary);
}

:root {
    --text-primary: #141414;
    --text-secondary: #525252;
    --subtitulo-color: #e0e0e0;
    --bg-primary: #f5f5f5;
    --bg-secondary: #ffffff;
}

.header h1 {
    display: block;
    max-width: 100%;
    height: auto;
    font-size: 2.3rem;
}

ul {
    list-style: none;    
}

.subtitulo {
    max-width: 4ch ;
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .subtitulo {
        max-width: initial;
        font-size: 3rem;
        text-transform: capitalize;
    }
}