* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: var(--text-primary);
}

:root {
    --text-primary: #141414;
    --text-secondary: #525252;
    --bg-primary: #f5f5f5;
}

body {
    margin-bottom: 1000px;
}

.header h1 {
    display: block;
    max-width: 100%;
    height: auto;
    font-size: 2.3rem;
}

ul {
    list-style: none;    
}